.accordion-box {
  height: 500px;
  width: 500px; }

h1 {
  border: 1px solid #00B4C3; }

h1.section1 {
  color: white;
  background-color: #00C6D6;
  height: 50px;
  margin: 0%; }

h1.section2 {
  color: white;
  background-color: #00C6D6;
  height: 50px;
  margin: 0%; }

h1.section3 {
  color: white;
  background-color: #00C6D6;
  height: 50px;
  margin: 0%; }

.words1 {
  border: 1px solid #00B4C3; }

.words2 {
  border: 1px solid #00B4C3; }

.words3 {
  border: 1px solid #00B4C3; }

.close {
  height: 0px;
  overflow: auto;
  margin: 0px;
  transition: height 0.5s;
  padding: 0px; }

.open {
  height: 300px;
  transition: height .5s;
  overflow: hidden;
}
